<!-- vim: set tabstop=2 softtabstop=2 shiftwidth=2 noexpandtab textwidth=80 : -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ============================================================
CABECERAS
============================================================ -->

<head th:fragment="head(title)">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title th:text="${title}">HtmlApp</title>
	<link rel="stylesheet" th:href="@{/css/base.css}" />
</head>

<head th:fragment="head-error(title)">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title th:text="${title}">HtmlApp - Error</title>
	<link rel="stylesheet" th:href="@{/css/error.css}" />
</head>

<!-- ============================================================
CUERPO BASE
============================================================ -->

<body>
<header th:fragment="header">
	<div class="topbar">
		<div class="topbar-left">
			<span>HtmlApp</span>
		</div>
	</div>
</header>

<main th:fragment="body">
	<section>
		<p>Contenido</p>
	</section>
</main>

<footer th:fragment="footer">
	<p>&copy; 2025 HtmlApp. Todos los derechos reservados.</p>
</footer>
</body>
</html>