# vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab textwidth=80 :

spring:
  # *** datasource -> configuración básica de conexión a la bd
  # incluye: url username password
  #          y driver-class-name (el driver del motor de BD subyacente)
  datasource:
    url: jdbc:postgresql://localhost:5432/htmlapp_users
    username: user_htmlapp_users
    password: 12345
    driver-class-name: org.postgresql.Driver

  # *** jpa --> (Java Persistency API) más configuración de la base de datos
  jpa:
    show-sql: true
    hibernate:
      # *** spring.jpa.hibernate.ddl-auto -->
      #           Qué queremos hacer con las tablas y columnas
      #           al arrancar y al finalizar hibernate
      #
      #        none: no hace nada ni a las tablas ni a las columnas
      #
      #    validate: comprueba que las tablas y columnas existen
      #                 (y coinciden con los mapeos de entidades)
      #
      #      update: actualiza el esquema con tablas y columnas que falten
      #                 (no borra nada)
      #
      #      create: crea las tablas desde 0 en el arranque (borra lo anterior)
      #
      # create-drop: como create + borra las tablas al terminar
      #
      ddl-auto: update
    
    properties:
      # *** spring.jpa.properties.hibernate ->
      #          todo el resto de configuraciones que iban en el
      #          hibernate.cfg.xml se pueden poner aquí
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        use_sql_comments: true
        autocommit: false

  # *** thymeleaf -> desactivar caché para desarrollo
  thymeleaf:
    cache: false

# *** server --> Configuración del servidor web
server:
  port: 8080
  error:
    whitelabel:
      # *** server.whitelabel.enabled -->
      #          generar una página de error por defecto
      #              (aquí le ponemos false porque hemos creado
      #              nuestras propias páginas de error)
      enabled: false

# *** logging -> configuración de logging de la aplicación
logging:

  # *** logging.level -> configuración del nivel mínimo de logging por
  #                         defecto (root) y por paquetes
  level:
    # root es el nivel global
    root: INFO

    # nivel para Spring MVC
    org.springframework.web: INFO

    # para que salgan las consultas SQL generadas (DEBUG)
    org.hibernate.SQL: DEBUG

    # para ver los parámetros SQL (TRACE)
    org.hibernate.type: TRACE

  
  # *** logging.file -> guarda los logs en un archivo
  file:
    # ruta relativa o absoluta a una carpeta con "path"
    #     también podríamos poner "name" si queremos indicar la ruta del
    #     archivo directamente
    path: logs/htmlapp

  logback:
    # *** logging.logback.rollingpolicy ->
    #         la política de rotación de ficheros
    #         (si queremos esa funcionalidad)
    rollingpolicy:

      # tamaño máximo de cada archivo
      max-file_size: 10MB

      # número máximo de archivos que se dejan
      max-history: 7

      # patrón de nombrado de ficheros
      file-name-pattern: logs/htmlapp/htmlapp-%d{yyyy-MM-dd}.%i.log


  # *** logging.pattern -> formato del log 
  #
  #   VARIABLES QUE SE PUEDEN USAR
  #   %d{} -> fecha/hora (con yyyy-MM-dd HH:mm:ss.SSS)
  #   %thread -> hilo
  #   %level -> nivel de log
  #   %logger{N} -> nombre del logger (N cars. máximo)
  #   %msg -> mensaje
  #   %n -> salto de línea
  pattern:

    # para los logs que aparecen en la consola
    console: "%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"

    # para los logs que aparecen en archivo
    file: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"