:root {
  --md-primary-fg-color: #273c75;
  --md-accent-fg-color: #fbc531;
}

.md-content img {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.grid.cards a {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: #273c75;
  color: #fff !important;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.2s;
}

.grid.cards a:hover {
  background-color: #40739e;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  width: 100%;
}

table, th, td {
  border: 1px solid #ccc;
  padding: 0.6rem;
}

th {
  background-color: #273c75;
  color: white;
}

