<!-- vim: set tabstop=2 softtabstop=2 shiftwidth=2 noexpandtab textwidth=80 : -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout-error :: layoutError(
	      title='Error 403 - Acceso denegado',
	      content=~{::main}
      )}">
<main>
	<section class="error-container">
		<h1>Error 403</h1>
		<p>No tienes permisos para acceder a este recurso o realizar esta acción.</p>
		<p>Si crees que se trata de un error, contacta con el administrador.</p>

		<a th:href="@{/}" class="btn">Volver al inicio</a>
	</section>
</main>
</html>

<!--
Este error se lanza cuando un usuario intenta acceder a una zona
sin los permisos adecuados (por ejemplo, sin ser administrador).
-->